.content {
  // padding: 32px 24px;
  margin-bottom: 16px;
  border-radius: 6px;
  background: #fff;
  color: #3E4B5B;
  box-shadow: 0px 2px 4px rgba(#7e8eb1, 0.12);
  line-height: 1.5;
  font-size: 14.4px;
  font-weight: 400;
}
