.send {
  margin: 20px 0 0;

  .fee {
    text-align: center;
  }

  .next {
    @include webComponent;
    display: block;
    width: 100%;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
