.encryptedInput {
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 12px;
  line-height: 12px;
  @extend %labelColor;

  @media only screen and (max-width: $responsive-width) {
    width: auto;
    margin-left: 34px;
  }

  .input {
    height: 20px;
    border-radius: 2px;
  }

  .heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 4px;

    .toggle {
      cursor: pointer;
      user-select: none;
      color: $brand;
    }
  }

  input[type='text'] {
    font-size: 12px;
  }
}

.pill {
  margin-top: 0px;
}
