.iconTab {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  .icon {
    margin-bottom: 0px;
    margin-right: 8px;
  }

  .label {
    flex: 0 0 auto;
    user-select: none;
  }
}
