.send {
  margin: 20px 0 0;

  .next {
    display: block;
    width: 100%;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  @media only screen and (max-width: $responsive-width) {
    max-width: 100%;
    flex-basis: 100%;
  }
}
