.management {
  .heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin: 48px 0 10px 0;
  }

  .title {
    font-weight: 500;
    font-size: 18px;
    line-height: normal;
    @extend %labelColor;
  }

  .link {
    cursor: pointer;

    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    user-select: none;
    color: $brand;
  }
}

.modal {
  width: 520px;
  min-height: fit-content;
}
