.version {
  display: flex;
  align-items: center;
  padding: 20px;
  -webkit-font-smoothing: antialiased;

  .logo {
    flex: 0 0 auto;
    width: 36px;
    height: 36px;
    margin-right: 15px;
  }

  .current {
    flex: 1 1 auto;
    font-size: 12px;
    font-weight: 500;
    color: $gray-4;

    .appName {
      line-height: 24px;
      font-size: 18px;
      font-weight: normal;
      color: #1e1b52;
    }
  }

  .latest {
    flex: 0 0 auto;
    display: flex;
    align-items: center;

    .loading,
    .upToDate {
      line-height: 18px;
      font-size: 14px;
      font-weight: 500;
      color: $gray-4;
    }

    .update {
      display: flex;
      align-items: center;
      font-size: 12px;
      color: $gray-4;

      strong {
        display: block;
        line-height: 18px;
        font-size: 14px;
        font-weight: 500;
        color: $gray-5;
      }
    }

    .button {
      margin-left: 15px;
    }
  }
}
