.saveAccount {
  .label {
    flex: 1 1 auto;
  }
}

.saveButtons {
  display: flex;
  align-items: center;
  align-content: stretch;
  flex-wrap: nowrap;
  padding-bottom: 16px;

  .button {
  flex: 1;

    &:first-child {
      margin-right: 8px;
    }

    &:last-child {
      margin-left: 8px;
    }
  }
}
