.saveAccount {
  .label {
    flex: 1 1 auto;
  }
}

.saveButtons {
  .button {
    width: 49%;
    margin: 0 0 16px 0px;
  }

  #buttonNew {
    float: left;
  }
  #buttonAdd {
    float: right;
  }
}
