{
  "plugins": [
    "syntax-dynamic-import",
    "@babel/plugin-transform-classes",
    [
      "module-resolver",
      {
        "root": ["./src/common", "./src/main", "./src/renderer"],
        "alias": {
          "testHelpers": "./__tests__/testHelpers",
          "fixtures": "./__tests__/fixtures"
        }
      }
    ]
  ],
  "env": {
    "test": {
      "presets": ["env", "react"],
      "plugins": [
        "dynamic-import-node",
        "@babel/plugin-transform-classes",
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
