{
  "plugins": [
    ["module-resolver", {
      "root": [
        "./src/common",
        "./src/main",
        "./src/renderer"
      ],
      "alias": {
        "testHelpers": "./__tests__/testHelpers"
      }
    }]
  ],
  "env": {
    "test": {
      "presets": ["env", "react"],
      "plugins": [
        "transform-class-properties",
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
