.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;

  ul {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: stretch;

    li {
      padding: 0 0;
      margin: 0;
      text-align: center;

      .link {
        @include navigationLink;
      }
    }
  }
}
