.portal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;

  .backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(68, 53, 98, 0.9);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
  }
}

.modal {
  position: relative;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(30, 27, 82, 0.12);
}
