.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: $modal-backdrop-color;
  opacity: 0.3;
}

.modal {
  position: relative;
  margin: 0.5rem;
  background-clip: padding-box;
  background-color: $modal-background-color;
  border-radius: 6px;
  box-shadow: $modal-shadow;
}
