.portal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 0;

  .backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    @extend %modalBackdropColor;
  }
}

.modal {
  @extend %panelColor;
  position: relative;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(30, 27, 82, 0.2);
}
