.receive {
  margin: 20px 0 0;
  text-align: center;

  .label {
    margin-bottom: 2px;
    color: #1e1b53;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
  }

  .address {
    color: #1e1b53;
    font-size: 12px;
    line-height: 17px;
  }

  .copy {
    @include webComponent;
    margin: 10px 0 30px;
  }

  .qrcode {
    width: 150px;
    height: 150px;
    margin-top: 12px;
  }
}
