.holdingsLoading {
  h2 {
    margin: 0 0 25px;
    color: $gray-5;
    font-size: 18px;
    font-weight: 500;
  }

  .holding {
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 4px;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: loadingShimmer;
    animation-timing-function: linear;
    background: $gray-0;
    background-image: linear-gradient(
      to right,
      $gray-0 0%,
      $gray-2 20%,
      $gray-0 40%,
      $gray-0 100%
    );
    background-repeat: no-repeat;
    background-size: 800px 104px;

    @include theme(DARK) {
      background: $gray-8;
      background-image: linear-gradient(
        to right,
        $gray-8 0%,
        $gray-7 20%,
        $gray-8 40%,
        $gray-8 100%
      );
      background-repeat: no-repeat;
      background-size: 800px 104px;
    }

    .icon {
      flex: 0 0 auto;
      width: 32px;
      height: 32px;
      margin-right: 12px;
      background: $gray-2;
      border-radius: 50%;

      @include theme(DARK) {
        background: $gray-6;
      }
    }

    .meta {
      flex: 1 1 auto;
      margin-right: 12px;

      .token {
        width: 60%;
        height: 12px;
        margin-bottom: 8px;
        background: $gray-2;

        @include theme(DARK) {
          background: $gray-6;
        }
      }

      .price {
        width: 100%;
        height: 12px;
        background: $gray-2;

        @include theme(DARK) {
          background: $gray-6;
        }
      }
    }

    .balance {
      flex: 0 0 auto;
      align-self: flex-end;
      width: 54px;
      height: 12px;
      background: $gray-1;

      @include theme(DARK) {
        background: $gray-7;
      }
    }

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}

@keyframes loadingShimmer {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
