.select {
  position: relative;
  width: 100%;
  cursor: pointer;

  .input {
    @extend %inputColor;
    display: flex;
    width: 100%;
    height: 31px;
    padding: 0 30px 0 0;
    border-radius: 4px;
    line-height: 17px;
    font-size: 14px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
  }

  &:focus {
    outline: none;

    .input {
      box-shadow: inset 0 0 0 2px $brand;
    }
  }

  &.disabled {
    cursor: not-allowed;

    .input {
      @extend %disabledColor;
      box-shadow: none;
    }
  }

  .caret {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: $gray-4;
  }
}

.options {
  @extend %inputColor;
  border-radius: 4px;

  .search {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 12px;

    .searchIcon {
      margin-left: 12px;
      color: $gray-4;
    }

    .closeIcon {
      margin-right: 8px;
      color: $gray-4;
    }
  }

  .noResults {
    font-size: 14px;
    padding: 10px 12px;
    color: $gray-4;
    -webkit-font-smoothing: antialiased;

    .clear {
      text-decoration: underline;
    }
  }

  .items {
    max-height: 160px;
    margin: 0;
    overflow-y: auto;

    .item {
      @extend %textColor;
      font-size: 14px;
      cursor: pointer;

      &.focus {
        background: transparentize($brand, .65);
      }
    }
  }
}
