.select {
  $disabled-background: #f1f1f5;
  $disabled-color: #9595a1;

  position: relative;
  width: 100%;
  cursor: pointer;

  .input {
    display: flex;
    width: 100%;
    height: 31px;
    padding: 0 30px 0 0;
    color: $primary-text-color;
    background: #f9fafb;
    border-radius: 4px;
    box-shadow: inset 0 0 0 1px $light-text-color;
    line-height: 17px;
    font-size: 14px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
  }

  &:focus {
    outline: none;

    .input {
      box-shadow: inset 0 0 0 2px $brand-color;
    }
  }

  &.disabled {
    cursor: not-allowed;

    .input {
      background: $disabled-background;
      color: $disabled-color;
      box-shadow: none;
    }
  }

  .caret {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: $light-text-color;
  }
}

.options {
  background: #fff;
  border: 1px solid #9a99a5;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(#000, 0.15);

  .search {
    border-bottom: 1px solid #e3e4ea;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: none;
    background: #fff;
    color: #353445;
    font-size: 12px;

    .searchIcon {
      margin-left: 12px;
      color: $light-text-color;
    }

    .closeIcon {
      margin-right: 8px;
      color: $light-text-color;
    }
  }

  .noResults {
    font-size: 14px;
    padding: 10px 12px;
    color: $light-text-color;
    -webkit-font-smoothing: antialiased;

    .clear {
      text-decoration: underline;
    }
  }

  .items {
    max-height: 160px;
    margin: 0;
    overflow-y: auto;

    .item {
      color: #494759;
      font-size: 14px;
      cursor: pointer;

      &.focus {
        background: rgba(#edeef2, 0.5);
      }
    }
  }
}
