.wordInput {
  margin: 0 !important;

  // TODO: The way Input's styles are ordered doesn't allow for simple overrides. Style overhaul.
  box-shadow: none !important;
  background: transparent !important;

  input {
    padding: 3px 12px;
  }
}

.focus {
  box-shadow: inset 0 0 0 2px $brand !important;

  .input {
    outline: none;
  }
}
