.dAppContainer {
  display: block;
  height: 100%;

  .webview {
    height: 100%;

    &Loaded {
      background-color: white;
    }

    &Loading {
      background-color: transparent;
    }
  }
}
