version: 2.1

orbs:
  codecov: codecov/codecov@1.1.0

references:
  workspace: &workspace ~/repo

  linux_config: &linux_config
    docker:
      - image: circleci/node:10.22.0
    working_directory: *workspace

  windows_config: &windows_config
    docker:
      - image: legiit/electron-builder-wine:node12
        environment:
          TARGET_ARCH: x64
    working_directory: *workspace

  mac_config: &mac_config
    macos:
      xcode: '10.3.0'
    working_directory: *workspace

commands:
  pre-windows:
    description: 'Setting up and building environment for windows'
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-windows-{{ checksum "package.json" }}
            - v1-dependencies-windows
      - run: apt-get -y update
      - run: apt-get -y install libusb-1.0-0
      - run: apt-get -y install libudev-dev libudev-dev:i386 libusb-1.0-0-dev libusb-1.0-0-dev:i386
      - run: yarn

  pre-linux:
    description: 'Setting up and building environment for linux'
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-linux-{{ checksum "package.json" }}
            - v1-dependencies-linux
      - run: sudo apt-get -y update
      - run: sudo apt-get -y install libusb-1.0-0
      - run: yarn

  pre-mac:
    description: 'Setting up and building environment for mac'
    steps:
      - checkout
      # - restore_cache:
      #     keys:
      #       - v1-dependencies-mac-{{ checksum "package.json" }}
      #       - v1-dependencies-mac
      - run: yarn

jobs:
  build_linux:
    <<: *linux_config
    steps:
      - pre-linux
      - run: yarn dist --linux
      - save_cache:
          key: v1-dependencies-linux-{{ checksum "package.json" }}
          paths:
            - node_modules

  build_windows:
    <<: *windows_config
    steps:
      - pre-windows
      - run: yarn dist --win --x64 --ia32
      - save_cache:
          key: v1-dependencies-windows-{{ checksum "package.json" }}
          paths:
            - node_modules

  build_mac:
    <<: *mac_config
    steps:
      - pre-mac
      - run: yarn dist --mac
      - save_cache:
          key: v1-dependencies-mac-{{ checksum "package.json" }}
          paths:
            - node_modules

  unit_tests:
    <<: *linux_config
    steps:
      - pre-linux
      - run: yarn test
      - run: yarn codecov
      - codecov/upload:
          file: ./coverage/lcov.info

  deploy_windows:
    <<: *windows_config
    steps:
      - pre-windows
      - run: yarn release:win
      - persist_to_workspace:
          root: *workspace
          paths:
            - dist/*.*
      - store_artifacts:
          path: dist/*.*

  deploy_linux:
    <<: *linux_config
    steps:
      - pre-linux
      - run: yarn release:linux
      - persist_to_workspace:
          root: *workspace
          paths:
            - dist/*.*
      - store_artifacts:
          path: dist/*.*

  deploy_mac:
    <<: *mac_config
    steps:
      - pre-mac
      - run: yarn release:mac
      - persist_to_workspace:
          root: *workspace
          paths:
            - ./dist/*.*
      - store_artifacts:
          path: dist/*.*

  calculate_checksums:
    <<: *linux_config
    steps:
      - attach_workspace:
          at: *workspace
      - run: cd ./dist && shasum -a 256 *.*

workflows:
  version: 2
  platform_builds:
    jobs:
      # - build_windows
      # - build_linux
      # - build_mac
      - deploy_windows
  # platform_tests:
  #   jobs:
  #     - unit_tests
  deploy:
    jobs:
      - deploy_windows:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /[v][0-9]+(\.[0-9]+)+.*/
      - deploy_linux:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /[v][0-9]+(\.[0-9]+)+.*/
      - deploy_mac:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /[v][0-9]+(\.[0-9]+)+.*/
      - calculate_checksums:
          requires:
            - deploy_windows
            - deploy_linux
            - deploy_mac