# Javascript Node CircleCI 2.0 configuration file.
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
version: 2

references:
  workspace: &workspace ~/repo

  container_config: &container_config
    docker:
      - image: circleci/node:8.15.1
    working_directory: *workspace

  win_config: &win_config
    docker:
      - image: electronuserland/builder:wine
        environment:
          TARGET_ARCH: x64
    working_directory: *workspace

  mac_config: &mac_config
    macos:
      xcode: 9.2
    working_directory: *workspace

jobs:
  build:
    <<: *container_config
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-
      - run: sudo apt-get -y update
      - run: sudo apt-get -y install libudev-dev libusb-1.0-0-dev
      - run: yarn install
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
  test:
    <<: *container_config
    steps:
      - checkout
      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-
      - run: sudo apt-get -y update
      - run: sudo apt-get -y install libgtk-3-0 libxss1 libgconf-2-4 libnss3 libasound2
      - run: sudo yarn global add yarn@1.12.3
      - run: yarn test
      - run: yarn codecov
    store_artifacts:
      - path: artifacts
      - destination: yarnpkg

  deploy_win:
    <<: *win_config
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-
      - run: dpkg --add-architecture i386
      - run: apt-get -y update
      - run: apt-get -y install libudev-dev libudev-dev:i386 libusb-1.0-0-dev libusb-1.0-0-dev:i386
      - run: yarn install
      - run: yarn dist --win --x64 --ia32
      - store_artifacts:
          path: dist
          destination: build

  deploy_linux:
    <<: *container_config
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-
      - run: sudo yarn global add yarn@1.12.3
      - run: yarn install
      - run: yarn dist --linux
      - store_artifacts:
          path: dist
          destination: build

  deploy_mac:
    <<: *mac_config
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-
      - run: /usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"
      - run: brew install yarn
      - run: yarn install
      - run: yarn dist --mac
      - store_artifacts:
          path: dist
          destination: build

workflows:
  version: 2
  build_test:
    jobs:
      - build
      - test:
          requires:
            - build

  deploy:
    jobs:
      - deploy_win:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /[v][0-9]+(\.[0-9]+)+.*/
      - deploy_linux:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /[v][0-9]+(\.[0-9]+)+.*/
      # - deploy_mac:
      #     filters:
      #       branches:
      #         ignore: /.*/
      #       tags:
      #         only: /[0-9]+(\.[0-9]+)+.*/
