.primaryButton {
  background: radial-gradient(150px at 50% 50%, #5BBA47 0%, #8BCD38 100%);
  color: rgba(#fff,0.9);
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(53, 52, 69, 0.1);
  text-shadow: 0 1px 2px rgba(53, 52, 69, 0.45);
  letter-spacing: 0.5px;
  transition: all 0.2s ease;

  &:not([disabled]):hover {
    box-shadow: 0 4px 8px rgba(53, 52, 69, 0.2);
    transition: all 0.2s ease;
    color: rgba(#fff,1);
  }
}
