$sidebar-shadow: inset -1px 0 0 #d7d8de;

@mixin sidebar {
  width: 68px;
  background: #edeef2;
  mix-blend-mode: normal;
  box-shadow: $sidebar-shadow;
}

.authenticatedLayout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: $gray-0;
  overflow-y: hidden;

  header {
    flex: 0 0 auto;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    -webkit-app-region: drag;

    .sidebar {
      @include sidebar;
      flex: 0 0 auto;
      box-shadow: $sidebar-shadow, inset 0 -4px 8px rgba(53, 52, 69, 0.05);

      &.expanded {
        box-shadow: $sidebar-shadow;
      }
    }

    .tabs {
      flex: 1 1 auto;
    }
  }

  main {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;

    .sidebar {
      @include sidebar;
      flex: 0 0 auto;
      display: flex;
      flex-direction: column;

      .logo {
        flex: 0 0 auto;
        display: block;
        width: 36px;
        height: 36px;
        margin: -12px 0 12px;
        padding: 3px 16px;
        box-sizing: content-box;
        -webkit-app-region: drag;
      }

      .navigation {
        @include sidebar;
        flex: 1 1 auto;
      }
    }

    .container {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;

      .addressBar {
        flex: 0 0 auto;
      }

      .content {
        flex: 1 1 100%;
        box-sizing: border-box;
        user-select: auto;
        cursor: auto;
        overflow-y: scroll;
      }
    }
  }

  &.darwin main .sidebar .logo {
    margin: 0; // shift logo up when Mac traffic lights don't exist
  }

  &:not(.darwin) header .tabs {
    padding-right: 150px; // leave space for Windows/Linux button bar
  }
}
