.holdingsLoading {

  .holding {
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 4px;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: loadingShimmer;
    animation-timing-function: linear;
    background: $content-bg-color;
    background-image: linear-gradient(to right, $content-bg-color 0%, #E3E4EA 20%, $content-bg-color 40%, $content-bg-color 100%);
    background-repeat: no-repeat;
    background-size: 800px 104px;

    .icon {
      flex: 0 0 auto;
      width: 32px;
      height: 32px;
      margin-right: 12px;
      background: #E3E4EA;
      border-radius: 50%;
    }

    .meta {
      flex: 1 1 auto;
      margin-right: 12px;

      .token {
        width: 60%;
        height: 12px;
        margin-bottom: 8px;
        background: #E3E4EA;
      }

      .price {
        width: 100%;
        height: 12px;
        background: #E3E4EA;
      }
    }

    .balance {
      flex: 0 0 auto;
      align-self: flex-end;
      width: 54px;
      height: 12px;
      background: #EDEEF2;
    }

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}

@keyframes loadingShimmer {
  0% { background-position: -468px 0; }
  100% { background-position: 468px 0; }
}