.tab {
  @extend %tabColor;
  cursor: default;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  min-width: 32px;
  padding: 8px;
  font-size: 12px;
  transition: all 0.2s ease;

  &:first-of-type {
    box-shadow: none;
  }

  .loading {
    @include spin;
  }

  .loading,
  .icon {
    flex: 0 0 auto;
  }

  .title {
    flex: 1 1 auto;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.25em;
    margin-right: 15px;
    margin-left: 4px;
    user-select: none;
  }

  .close {
    flex: 0 0 auto;
    display: flex;
    position: absolute;
    right: 8px;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    color: $gray-4;
    background: transparent;
    border: none;

    &:hover {
      border-radius: 50%;
    }

    .closeContent {
      flex: 0 0 auto;
      display: inline-flex;
    }
  }
}
