.tab {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  min-width: 0;
  padding: 8px 14px;
  font-size: 12px;
  background: rgba(#fff, 0.4);
  transition: all 0.2s ease;

  &.active,
  &:hover {
    z-index: 1; // stay on top of `AddressBar` box-shadow
  }

  &.active {
    background: #fff;
  }

  &:not(.active):hover {
    background: rgba(#fff, 0.6);
  }

  .title {
    flex: 0 1 auto;
    max-width: 100px;
    overflow: hidden;
    line-height: 1.25em;
    color: #1e1b52;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .close {
    position: absolute;
    top: 50%;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    color: $light-text-color;
    background: transparent;
    border: 0;
    transform: translateY(-50%);

    &:hover {
      color: #fff;
      background: #e45b46;
      border-radius: 50%;
    }

    .closeContent {
      display: inline-flex;
      flex: 0 0 auto;
    }
  }

  .loading {
    @include spin;
    flex: 0 0 auto;
    margin-right: 8px;
  }
}
