.tab {
  $tab-inactive-border-color: rgba($gray-4, 0.4);

  cursor: default;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  min-width: 32px;
  padding: 8px;
  background: rgba(#fff, 0.4);
  font-size: 12px;
  transition: all 0.2s ease;
  box-shadow: inset 1px 0 0 $tab-inactive-border-color;

  &:first-of-type {
    box-shadow: none;
  }

  &:last-of-type {
    &:not(.active) {
      box-shadow: inset 1px 0 0 $tab-inactive-border-color, inset -1px 0 0 $tab-inactive-border-color;
    }
  }

  &.active,
  &.active + & {
    box-shadow: none;
  }
  &:not(.active):hover {
    background: rgba(#fff, 0.6);
  }
  &.active + &:last-of-type {
    box-shadow: inset -1px 0 0 $tab-inactive-border-color;
  }

  &.active {
    background: #fff;
  }

  .loading {
    @include spin;
  }

  .loading,
  .icon {
    flex: 0 0 auto;
  }

  .title {
    flex: 1 1 auto;
    max-width: 100px;
    color: #1e1b52;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.25em;
    margin-right: 15px;
    margin-left: 4px;
    user-select: none;
  }

  .close {
    flex: 0 0 auto;
    display: flex;
    position: absolute;
    right: 8px;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    color: $gray-4;
    background: transparent;
    border: none;

    &:hover {
      color: #fff;
      background: rgba(228, 91, 70, 0.6);
      border-radius: 50%;
    }

    .closeContent {
      flex: 0 0 auto;
      display: inline-flex;
    }
  }
}
