.addressBar {
  @include headerStyle;
  -webkit-app-region: drag;
  display: flex;

  * {
    -webkit-app-region: no-drag;
  }

  input {
    font-family: $primary-font-stack;
    border: none;
    background-color: transparent;
    font-size: 1rem;
    margin: 1rem;
    flex: 1;
  }
}
