.confirm {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 900px;

  .media {
    flex: 0 0 auto;
    width: 300px;
    padding: 40px 0px;
    text-align: center;
  }

  .content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgba(69, 76, 96, 0.49);
    font-weight: 300;
    background-image: url(../../images/modal-gradient-vertical.png);
    background-size: auto 100%;
    background-position: center left;
    background-repeat: no-repeat;

    h4 {
      margin: 0 0 1.5rem;
      color: #047bf8;
      line-height: 1.2;
      font-size: 1.5rem;
      font-weight: 500;
    }

    p {
      margin-bottom: 10px;
    }

    .actions {
      margin: 1.5rem 0 0;

      .action {
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }
      }

      .cancel {
        color: #fff;
        background-color: #292b2c;
        border-color: #292b2c;

        &:focus {
          box-shadow: none;
        }

        &:not([disabled]) {
          cursor: pointer;

          &:active,
          &:hover {
            background-color: #101112;
            border-color: #0a0b0b;
          }
        }
      }
    }
  }
}
