.networkSettings {
  .label {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .input {
      flex: 0 1 280px;
    }
  }

  .actions {
    display: flex;
    flex-direction: row;

    .action {
      @include webComponent;
      flex-grow: 1;
      margin-right: 2px;

      &:not(:last-child) {
        margin-right: 16px;
      }
    }
  }
}
