.mnemonicWord {
  @extend %innerPanelColor;
  @extend %textColor;
  border-radius: 4px;
  margin: 10px 6px;
  width: 22%;

  display: flex;
  align-items: center; /* Vertical center alignment */

  .count {
    background: $gray-1;
    color: $gray-4;

    @include theme(DARK) {
      background: opacify($gray-7, .5);
      color: $gray-4;
    }

    width: 18px;
    height: 18px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 2px;
    font-size: 10px;
    text-align: center;
    margin: 2px;
  }

  .word {
    margin: 3px 12px;
    font-weight: 700;
    font-size: 14px;
  }
}
