.login {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  -webkit-app-region: no-drag;

  min-width: 466px;
  min-height: 435px;

  .content {
    display: flex;
    flex-direction: column;

    .closeIcon {
      margin: 20px;
      align-self: flex-end;
      cursor: pointer;
    }

    .title {
      font-weight: 500;
      font-size: 28px;
      text-align: center;
    }
  }
}

.heading {
  display: flex;
  flex-direction: column;
  margin: 10px;

  .pill {
    align-self: center;
    // TODO dynamic colors
    // Somehow #6979f8 and 0.1 opacity turn the text white
    background: #f0f2ff;
    border-radius: 18px;
  }

  .pillText {
    padding: 5px 10px;
    color: #6979f8;
    font-size: 12px;
  }
}
