.input {
  display: block;
  margin: 0 0 16px;

  .label {
    display: block;
    height: 17px;
    line-height: 17px;
    margin-bottom: 6px;
    color: $primary-text-color;
    font-size: 14px;
    font-weight: 500;
  }

  input {
    display: block;
    width: 100%;
    padding: 6px 12px;
    color: $primary-text-color;
    background: #f9fafb;
    border: 1px solid $light-text-color;
    border-radius: 4px;
    line-height: 17px;
    font-size: 14px;
    font-weight: 500;

    &::placeholder {
      color: $light-text-color;
    }

    &:focus {
      // border-image: linear-gradient(to right, #b9d532, #5bba47)
      border: 2px solid #b9d532;
      padding: 5px 11px;
      outline: none;
    }
  }
}
