.authenticatedLayout {
  background-color: $content-bg-color;
  height: 100vh;
  display: flex;

  .menu {
    -webkit-app-region: drag;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-right: $primary-border-style;
    max-width: 240px;

    header {
      @include headerStyle;

      img {
        height: 36px;
        width: 36px;
        margin: 0.5rem 0;
        display: block;
      }

      a {
        text-decoration: none;
        color: inherit;

        &:hover {
          opacity: 0.8;
        }
      }

      h1 {
        margin-left: 0.5rem;
        font-size: 1rem;
        font-weight: 400;

        span {
          font-weight: 700;
        }
      }
    }
  }

  .main {
    flex: 1;
    display: flex;
    flex-direction: column;

    .content {
      padding: 0.5rem;
      box-sizing: border-box;
      overflow-y: auto;
      flex: 1;
    }

    .footer {
      background-color: darken($content-bg-color, 5%);
      opacity: 0.5;
      padding: 0.2rem;
      font-size: 0.8rem;
      font-weight: 300;
      border-top: $primary-border-style;
    }
  }
}
