.navigation {
  ul:not(:first-child) {
    border-top: $primary-border-style;
  }

  li {
    font-size: 1.5rem;
    margin: 1rem 0;
    text-align: center;

    color: transparentize($primary-text-color, 0.5);

    a {
      text-decoration: none;

      &:link,
      &:visited {
        color: $primary-text-color;
      }

      &:focus,
      &:hover {
        color: lighten($primary-text-color, 20%);
      }

      &:active {
        color: darken($primary-text-color, 20%);
      }

      &.disabled {
        cursor: not-allowed;
        color: lighten($primary-text-color, 20%);
      }

      span {
        padding-left: 0.5rem;
      }
    }
  }
}
