.sendPanel {
  max-width: 316px;

  .content {
    padding: 20px;
  }

  h2 {
    margin: 0 0 25px;
    color: $primary-text-color;
    font-size: 18px;
    font-weight: 500;
  }

  .actions {
    margin-top: 8px;

    .icon {
      margin-right: 6px;
    }
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  @media only screen and (max-width: $responsive-width) {
    max-width: 100%;
    flex-basis: 100%;
  }
}
