.sendPanel {
  max-width: 316px;

  .content {
    padding: 32px 24px;
  }

  h2 {
    margin: 0 0 25px;
    color: $primary-text-color;
    font-size: 18px;
    font-weight: 500;
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;

    .icon {
      margin-right: 6px;
    }
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
