.sendPanel {
  max-width: 316px;

  .content {
    padding: 0 24px 32px;
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;

    .icon {
      margin-right: 6px;
    }
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
