.breakdown {
  display: flex;
  flex-direction: column;

  .totalValue {
    flex: 0 0 auto;
    margin: 20px;
  }

  .chart {
    flex: 1 1 100%;
    position: relative;

    .icon {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 25%;
      height: 25%;
      transform: translate(-50%, -50%);
    }

    .emptyIcon {
      opacity: 0.75;
      width: 65%;
      height: 65%;
    }
  }
}
