.register {
  display: flex;

  -webkit-app-region: no-drag;

  .content {
    display: flex;
    flex-direction: column;

    .closeIcon {
      margin: 20px;
      align-self: flex-end;
      cursor: pointer;
    }
  }
}
