.ledgerView {
  min-width: 520px;
  display: flex;
  flex-direction: column;
  align-items: center; // Center content of flex column

  .text {
    max-width: 250px;
    text-align: center;
    margin-top: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;

    color: #6979f8;
  }
}
