.confirm {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 900px;

  .media {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    padding: 40px 0;
  }

  .content {
    display: flex;
    align-items: stretch;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    padding: 60px 70px;
    font-weight: 300;
    background-image: url("../../images/modal-gradient-vertical.png");
    background-position: center left;
    background-repeat: no-repeat;
    background-size: auto 100%;

    .title {
      flex: 0 0 auto;
      margin: 0 0 1.5rem;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 1.2;
      color: #047bf8;
      text-align: center;
    }

    .body {
      flex: 1 1 auto;
      overflow-x: hidden;
      overflow-y: auto;

      p {
        margin-bottom: 10px;
      }
    }

    .actions {
      flex: 0 0 auto;
      margin: 1.5rem 0 0;
      text-align: center;

      .action {
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }
      }

      .cancel {
        color: #fff;
        background-color: #292b2c;
        border-color: #292b2c;

        &:focus {
          box-shadow: none;
        }

        &:not([disabled]) {
          cursor: pointer;

          &:active,
          &:hover {
            background-color: #101112;
            border-color: #0a0b0b;
          }
        }
      }
    }
  }
}
