.buttonBar {
  display: flex;
  align-self: stretch;
  justify-content: center;
  padding: 0 0.5rem;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0.5rem;
    font-size: 1rem;
    color: $primary-text-color;
    background-color: transparent;
    border: 0;

    &:hover {
      color: lighten($primary-text-color, 20%);
    }

    &:active {
      color: darken($primary-text-color, 20%);
    }
  }
}
