.buttonBar {
  align-self: stretch;
  display: flex;
  justify-content: center;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    border: none;
    padding: 0;
    background-color: transparent;
    color: $gray-5;

    &:hover {
      background-color: $gray-7;
    }

    &:active {
      background-color: $gray-6;
    }
  }

  .closeButton {
    &:hover {
      color: #dadada;
      background-color: #ff5b5b;
    }

    &:active {
      background-color: rgba(255, 91, 91, 0.6);
    }
  }
}
