@mixin headerStyle {
  box-sizing: border-box;
  height: calc(32px + 1rem);
  display: flex;
  align-items: center;
  border-bottom: $primary-border-style;
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@mixin spin {
  animation: spin 2s infinite linear;
}
