@mixin navigationLink {
  $link-color: $light-text-color;
  $focus-background-color: #e9eaee;
  $focus-icon-color: #7B7A86;
  $active-background-color: #E2E3E8;
  $active-icon-color: #8bc83c;

  position: relative;
  display: block;
  padding: 8px 0;
  color: $link-color;
  text-decoration: none;
  cursor: default;

  &.disabled {
    color: lighten($link-color, 20%);
  }

  &:not(.disabled):focus,
  &:not(.disabled):hover {
    color: $focus-icon-color;
    background: $focus-background-color;
    transition: all 0.2s ease;
  }

  &:not(.disabled):active {
    color: $active-icon-color;
    background: $active-background-color;
  }

  &:not(.disabled).active {
    position: relative;
    color: $active-icon-color;
    background: $active-background-color;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 3px;
      background: linear-gradient(0deg, #b9d532 0%, #5bba47 100%);
    }
  }

  svg {
    display: block;
    margin: 0 auto;
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@mixin spin {
  animation: spin 2s infinite linear;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@mixin fade-in {
  animation: fade-in 0.25s linear;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@mixin fade-out {
  animation: fade-out 0.25s linear;
}
