@mixin navigationLink {
  $link-color: $light-text-color;
  $focus-background-color: #e9eaee;
  $focus-icon-color: #7b7a86;
  $active-background-color: #e2e3e8;
  $active-icon-color: $brand-color;

  position: relative;
  display: block;
  padding: 8px 0;
  color: $link-color;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease;

  &.disabled {
    color: lighten($link-color, 20%);
    cursor: not-allowed;
  }

  &:not(.disabled):focus,
  &:not(.disabled):hover {
    color: $focus-icon-color;
    background: $focus-background-color;
  }

  &:not(.disabled):active {
    color: $active-icon-color;
    background: $active-background-color;
  }

  &:not(.disabled).active {
    position: relative;
    color: $active-icon-color;
    background: $active-background-color;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 3px;
      background: $brand-color;
    }
  }

  svg {
    display: block;
    margin: 0 auto;
  }
}

@mixin webComponent {
  user-select: auto;
  cursor: pointer;

  &[disabled] {
    cursor: not-allowed;
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@mixin spin {
  animation: spin 2s infinite linear;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@mixin fade-in {
  animation: fade-in 0.25s linear;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@mixin fade-out {
  animation: fade-out 0.25s linear;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background: #9a99a5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #494759;
}
