@mixin theme($themeName) {
  html[data-theme=#{$themeName}] & {
    @content
  }
}

@mixin navigationLink {
  position: relative;
  display: block;
  padding: 8px 0;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.15s ease;

  &.disabled {
    cursor: not-allowed;
  }

  &:not(.disabled).active {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 3px;
    }
  }

  svg {
    display: block;
    margin: 0 auto;
  }
}

%toggle {

  box-shadow: none;
  background: transparent;
  max-width: 52px;

  & > input {
    position: relative;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    height: 24px;
    background-color: white;
    border: 1px solid $gray-3;
    border-radius: 50px;
    box-shadow: inset -20px 0 0 0 $gray-1;
    transition-duration: 200ms;

    &:after {
       content: "";
       position: absolute;
       top: 1px;
       left: 1px;
       width: 26px;
       height: 26px;
       background-color: transparent;
       border-radius: 50%;
    }

    &:checked {
       border-color: $brand;
       box-shadow: inset 20px 0 0 0 $brand;

       &:after {
          left: 20px;
          box-shadow: -2px 4px 3px rgba(0, 0, 0, 0.05);
       }
    }
  }
}

@mixin webComponent {
  user-select: auto;
  cursor: pointer;

  &[disabled] {
    cursor: not-allowed;
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@mixin spin {
  animation: spin 2s infinite linear;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@mixin fade-in {
  animation: fade-in 0.25s linear;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@mixin fade-out {
  animation: fade-out 0.25s linear;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background: #9a99a5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #494759;
}