%textColor {
  color: $gray-5;

  @include theme(DARK) {
    color: $gray-0;
  }
}

%labelColor {
  color: $gray-5;

  @include theme(DARK) {
    color: $gray-4;
  }
}

%inputColor {
  border: 0 none;
  color: $gray-5;
  background: $gray-0;
  box-shadow: inset 0 0 0 1px $gray-3;

  @include theme(DARK) {
    color: $gray-0;
    background: $gray-8;
    box-shadow: inset 0 0 0 1px $gray-6;
  }
}

%disabledColor {
  color: $gray-4;
  background: $gray-0;

  @include theme(DARK) {
    color: $gray-4;
    background: transparentize($gray-8, .25);
  }
}

%sidebarColor {
  background: $gray-1;
  box-shadow: inset -1px 0 0 $gray-3;

  @include theme(DARK) {
    background: $gray-7;
    box-shadow: inset -1px 0 0 $gray-5;
  }
}

%sidebarItemColor {
  color: $gray-4;

  &.disabled {
    color: lighten($gray-3, 20%);
    cursor: not-allowed;
  }

  &:not(.disabled):focus,
  &:not(.disabled):hover {
    color: $gray-4;
    background: rgba($brand, .1);

    @include theme(DARK) {
      color: $gray-2;
      background: rgba($brand, .2);
    }
  }

  &:not(.disabled):active {
    color: $brand;
    background: rgba($brand, .2);

    @include theme(DARK) {
      color: $brand;
    }
  }

  &:not(.disabled).active {
    color: $brand;
    background: rgba($brand, .2);

    @include theme(DARK) {
      color: $brand;
    }

    &::after {
      background: $brand;
    }
  }
}

%tabsBarColor {
  background: $gray-1;

  @include theme(DARK) {
    background: $gray-8;
  }
}

%tabColor {
  $tab-inactive-border-color: $gray-2;

  box-shadow: inset 1px 0 0 $gray-2;
  background: $gray-1;

  @include theme(DARK) {
    background: $gray-8;
    box-shadow: inset 1px 0 0 $gray-6;
  }

  &:last-of-type {
    &:not(.active) {
      box-shadow: inset 1px 0 0 $tab-inactive-border-color, inset -1px 0 0 $tab-inactive-border-color;

      @include theme(DARK) {
        box-shadow: inset 1px 0 0 $gray-7, inset -1px 0 0 $gray-7;
      }
    }
  }

  &.active,
  &.active + & {
    box-shadow: none;
  }
  &:not(.active):hover {
    background: rgba(#fff, 0.6);
    
    @include theme(DARK) {
      background: darken($gray-7, 3%);
    }
  }
  &.active + &:last-of-type {
    box-shadow: inset -1px 0 0 $tab-inactive-border-color;
  }
  &.active {
    @extend %panelColor;
  }

  .title {
    @extend %textColor;
  }

  .close {
    color: $gray-4;
    background: transparent;

    &:hover {
      color: #fff;
      background: rgba(228, 91, 70, 0.6);
    }
  }
}

%panelColor {
  background: white;

  @include theme(DARK) {
    background: $gray-7;
  }
}

%innerPanelColor {
  background: $gray-0;

  @include theme(DARK) {
    background: opacify($gray-8, .5);
  }

  & .title {
    @extend %labelColor;
    background: linear-gradient(360deg,
    $gray-1 0%,
    opacify($gray-4, .75) 100%);

    @include theme(DARK) {
      background: linear-gradient(360deg,
      $gray-7 0%,
      opacify($gray-8, .5) 100%);
    }
  }
}

@mixin lightBorder($position) {
  $values: "0";

  @if $position == "bottom" {
    $values: 0 -1px 0;
  }
  @if $position=="right" {
    $values: -1px 0 0;
  }

  box-shadow: inset $values $gray-2;

  @include theme(DARK) {
    box-shadow: inset $values $gray-6;
  } 
}