// Colors

$content-bg-color: #f7f8fa;
$primary-text-color: #494759;
$dark-text-color: #353445;
$light-text-color: #9a99a5;
$medium-text-color: #8887a5;
$brand-color: #6979F8;
$brand-hover-color: #5364EA;


// Common Variables

$primary-font-stack: 'Inter UI', sans-serif;
$primary-border-style: thin solid rgba(0, 0, 0, 0.05);

// Responsive

$responsive-width: 1024px;
