// Colors

// Global Default Pallette

$gray-0: #f7f8fa; // Suble Background
$gray-1: #EDEEF2; // Sidebar Background
$gray-2: #E3E4EA; // Light Border
$gray-3: #D7D8DE; // Tabs
$gray-4: #9a99a5; // Light Text, Reg. Borders, Icons, Disabled Color
$gray-5: #494759; // Default Text
$gray-6: #353445;
$gray-7: #212129; // Panel BGs
$gray-8: #13121A; // Default Dark BG

$brand: #6979F8;
$brand-dark: #5364EA;
$brand-0: #f0f2fe;
$brand-1: #A5AFFB;
$green: #8BC83C;
$red: #FF6A4A;

// Common Variables

$primary-font-stack: 'Inter UI', sans-serif;
$primary-border-style: thin solid rgba(0, 0, 0, 0.05);

// Responsive
$responsive-width: 1024px;

// Sizes
$containerSize: 1024px;