.button {
  display: inline-block;
  height: 36px;
  padding: 0 24px;
  background: #fff;
  border: 0;
  border-radius: 4px;
  color: #8bc83c;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  box-shadow: inset 0 0 0 2px #8bc83c;
  cursor: default;
  -webkit-font-smoothing: antialiased;

  &:not([disabled]):hover {
    box-shadow: inset 0 0 0 2px #8bc83c,
                0 4px 8px rgba(53, 52, 69, 0.2);
  }

  &[disabled] {
    opacity: 0.7;
    cursor: not-allowed;
  }
}
