.button {
  display: inline-block;
  height: 36px;
  padding: 0 24px;
  background: #fff;
  border: 0;
  border-radius: 4px;
  color: rgba(#8bc83c,0.9);
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  box-shadow: inset 0 0 0 2px rgba(#8bc83c,0.9);
  cursor: default;
  -webkit-font-smoothing: antialiased;
  transition: all 0.2s ease;

  &:not([disabled]):hover {
    color: rgba(darken(#8bc83c,5%),1);
    transition: all 0.2s ease;
    box-shadow: inset 0 0 0 2px rgba(darken(#8bc83c,5%),1),
  }

  &[disabled] {
    opacity: 0.7;
    cursor: not-allowed;
  }
}
