.button {
  display: block;
  width: 100%;
  height: 36px;
  padding: 0 24px;
  background: linear-gradient(90deg, #b9d532 0%, #5bba47 100%);
  border: 0;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(#353445, 0.15),
              0 3px 6px rgba(#8bc83c, 0.3);
  cursor: pointer;
  -webkit-font-smoothing: antialiased;

  &:focus {
    // box-shadow: 0 0 0 0.2rem rgba(#047bf8, 0.5);
  }

  &[disabled] {
    // opacity: 0.8;
  }
}
