.button {
  display: inline-block;
  height: 36px;
  padding: 0 24px;
  background: radial-gradient(182.57px at 51.06% 50%, #5bba47 0%, #8bcd38 100%);
  border: 0;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(53, 52, 69, 0.1);
  text-shadow: 0 1px 2px rgba(53, 52, 69, 0.45);
  letter-spacing: 0.5px;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;

  &:not([disabled]):hover {
    box-shadow: 0 4px 8px rgba(53, 52, 69, 0.2);
  }

  &[disabled] {
    opacity: 0.7;
    cursor: not-allowed;
  }
}
