.button {
  display: inline-block;
  height: 36px;
  padding: 0 24px;
  background: #fff;
  border: 0;
  border-radius: 4px;
  color: $brand;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  box-shadow: inset 0 0 0 2px $brand;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  transition: all 0.2s ease;

  &[disabled] {
    opacity: 0.7;
    cursor: not-allowed;
  }

  &:not([disabled]) {
    &:hover {
      color: $brand-dark;
      box-shadow: inset 0 0 0 2px $brand-dark,
    }
  }
}
