.tab {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
  border-color: #dee2e6 #dee2e6 transparent;
  padding: 8px 12px;
  font-size: 11.52px;
  transition: all 0.2s ease;
  cursor: pointer;

  &::after {
    content: "";
    width: 0%;
    height: 3px;
    background-color: #047bf8;
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.2s ease;
  }

  &.active {
    .title {
      color: #495057;
    }

    &::after {
      width: 100%;
    }
  }

  .title {
    flex: 1 1 auto;
    max-width: 100px;
    color: rgba(#000, 0.3);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.25em;
  }

  .close {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    padding: 0;
    margin: 0 0 0 8px;
    color: rgba(#000, 0.3);
    background: transparent;
    border: none;
    cursor: pointer;

    &:hover {
      color: #fff;
      background: #e45b46;
      border-radius: 50%;
    }

    .closeContent {
      flex: 0 0 auto;
      display: inline-flex;
    }
  }

  .loading {
    @include spin;
    flex: 0 0 auto;
    margin-right: 8px;
  }
}
