.tab {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  position: relative;
  padding: 5px 35px 0 20px;
  margin: 0 -15px 0 0;
  height: $tab-height;

  .tabBackground {
    height: $tab-height*1.18;
    width: calc(100% - 10px);
    position: absolute;
    border-radius: 4px;
    border: 1px solid $tab-border-color;
    border-bottom: none;
    bottom: -6px;
    left: 5px;
    box-shadow: 0 0 2px  #fff inset;
    transform: perspective(100px) rotateX(30deg);
    z-index: 1;
    background-color: $tab-default-color;
  }

  &.active {
    z-index: 60;
    position:relative;

    .tabBackground {
      background-color: $tab-active-color;
      box-shadow: 0 0 2px 0 $tab-active-highlight-color inset;
    }

    .title {
      color: #495057;
    }
  }

  .title {
    flex: 1 1 auto;
    max-width: 250px;
    width: calc(100% - 20px);
    color: rgba(#000, 0.3);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.25em;
    z-index: 2;
    padding: 0;
  }

  .close {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 15px;
    height: 15px;
    padding: 0;
    margin: 0;
    color: rgba(#000, 0.3);
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 3;
    position: absolute;
    right: 12px;
    &:hover {
      color: rgba(#000, 0.6);
    }

    .closeContent {
      flex: 0 0 auto;
      display: inline-block;
    }
  }

  .loading {
    @include spin;
    flex: 0 0 auto;
    margin-right: 8px;
    z-index: 4;
  }
}
