.accountDetails {
  margin: 48px 0 0;

  .actions {
    margin-top: 24px;
    padding-top: 16px;
    border-top: 1px solid rgba(#000, 0.1);
  }

  .disclaimer {
    font-size: 12px;
    margin: 0 20px 0 20px;
  }
}
