// Global Styles

@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,700');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, #b8d432, #5bb947);
  color: #58585a;

  font: {
    family: $primary-font-stack;
    size: 16px;
    weight: 400;
  }
}

body,
#root {
  height: 100vh;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: underline;
  color: #4b72fa;
}

[data-whatintent="mouse"] :focus {
  outline-width: 0;
}
