.account {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 7px;
  background-color: white;
  max-width: 1024px;
  box-shadow: 0px 2px 6px rgba(30, 27, 82, 0.12);
  border-radius: 4px;
  border-left: 3px solid #8bc83c;

  .left {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-right: 16px;

    .icon {
      margin-right: 15px;
      order: 1;
    }

    .data {
      order: 2;
    }
  }

  .title {
    color: #1e1b53;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
  }

  .subtitle {
    color: #8886a5;
    font-size: 12px;
    line-height: 18px;
  }
}
