.authPanel {
  display: flex;

  .content {
    display: flex;
    flex-direction: column;

    .closeIcon {
      margin: 20px;
      align-self: flex-end;
      cursor: pointer;
    }

    .returningUser {
      display: flex;
      justify-content: center;
      padding-bottom: 10px;

      cursor: pointer;
      font-weight: 500;
      font-size: 12px;
      line-height: 12px;
      user-select: none;
      color: #ffad00;
  
      &:hover {
        color: #d8d400;
      }
    }
  }

  .footer {
    width: 100%;
    @extend %tertiaryButtonColor;
    padding: 10px 0 10px 0;
    cursor: pointer;
    user-select: none;

    text-align: center;
    font-weight: 700;
    font-size: 12px;
    line-height: normal;
  }
}
