.settings {
  position: relative;
  height: 100%;
  overflow-y: auto;

  .page {
    padding: 24px;
  }

  .panel {
    display: flex;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    .sidebar {
      flex: 0 0 auto;
    }

    .content,
    .version {
      flex: 1 1 auto;
    }
  }

  .sidebar {
    width: 170px;
    @include border(1px, right, light);

    ul {
      list-style: none;
      margin: 0;
    }
  }

  .content {
    padding: 0 40px;
  }

  @media only screen and (max-width: $responsive-width) {
    .sidebar {
      display: none;
    }
  }
}
