.invocationPrompt {
  color: #1e1b53;

  .title {
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 28px;
  }

  .icons {
    margin-bottom: 25px;
  }

  .subtitle {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
  }

  .body {
    margin-bottom: 10px;
    line-height: 25px;
    font-size: 14px;
  }
}
