.accounts {
  .title {
    margin: 48px 0 10px 0;
    font-weight: 500;
    font-size: 18px;
    line-height: normal;

    color: #494759;
  }

  .subtitle {
    margin: 30px 0 10px 0;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;

    color: #494759;
  }
}
