.pill {
  display: flex;
  flex-direction: column;
  margin: 20px;
  margin-top: 0px;

  .container {
    align-self: center;
    border-radius: 18px;
    background: transparentize($brand, 0.85);
  }

  .text {
    padding: 5px 10px;
    color: $brand;
    font-size: 12px;

    .bold {
      font-weight: 600;
    }
  }
}
