.loginForm {
  .actions {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-top: 16px;
    margin-top: 24px;
    border-top: 1px solid rgba(#000, 0.1);

    .login {
      flex: 0 0 1%;
    }

    .register {
      flex: 0 0 auto;
      margin-left: 10px;
      font-size: 14px;
    }
  }
}
