// scss-lint:disable IdSelector, SelectorFormat

@import url('https://rsms.me/inter/inter-ui.css');

* {
  font-family: $primary-font-stack;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: $primary-font-stack;
  font-size: 16px;
  font-weight: 400;
  color: #58585a;
  background: $content-bg-color;
}

body,
#app {
  height: 100vh;
}

ul {
  padding-left: 0;
  list-style: none;
}

a {
  color: #4b72fa;
  text-decoration: underline;
}

[data-whatintent="mouse"] :focus {
  outline-width: 0;
}
