@import url('https://rsms.me/inter/inter-ui.css');
// @import './fonts/inter-ui';

* {
  box-sizing: border-box;
  font-family: $primary-font-stack;
}

body {
  margin: 0;
  padding: 0;
  background: $content-bg-color;
  color: #58585a;

  font: {
    family: $primary-font-stack;
    size: 16px;
    weight: 400;
  }
}

body,
#app {
  height: 100vh;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: underline;
  color: $brand-color;
}

[data-whatintent="mouse"] :focus {
  outline-width: 0;
}
