.tabs {
  display: flex;
  flex-wrap: nowrap;
  padding: 0 32px;
  border-bottom: 1px solid #dee2e6;

  .tab {
    flex: 0 1 auto;
    margin-right: 16px;

    &:last-child {
      margin-right: 0;
    }
  }
}
