.tabs {
  display: flex;
  flex-wrap: nowrap;
  padding: 0;
  border-bottom: 1px solid $primary-border-color;
  width: 100%;
  overflow: hidden;

  .tab {
    flex: 0 1 auto;
    overflow: hidden;
    margin-right: -15px;
    flex-direction: row;

    &:last-of-type {
      margin-right: 15px;
    }
  }
}
