.input {
  display: block;
  margin: 0 0 16px;

  .label {
    display: inline-block;
    margin-bottom: 4px;
  }

  input {
    display: block;
    width: 100%;
    padding: 6px 12px;
    border: 2px solid #dde2ec;
    border-radius: 4px;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    font-size: 14.4px;
    font-weight: 300;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &::placeholder {
      color: #999;
    }

    &:focus {
      color: #495057;
      border-color: #047bf8;
      outline-width: 0;
    }
  }
}
