.accountDatum {
  .label {
    margin: 0 0 4px;
    color: #334152;
    line-height: 1.2;
    font-size: 14.4px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .value {
    margin: 0 0 16px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
  }

  .copy {
    margin-left: 12px;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
}
