.breakdownLoading {
  text-align: center;

  .heading {
    margin: 20px;
  }

  .title {
    font-size: 28px;
    color: $primary-text-color;
  }

  .description {
    line-height: 18px;
    font-size: 14px;
    font-weight: 500;
    color: #9a99a5;
  }
}
