.breakdownLoading {
  text-align: center;
  margin-bottom: 24px;

  .heading {
    margin: 20px;
  }

  .title {
    font-size: 28px;
    color: $primary-text-color;
  }

  .description {
    line-height: 18px;
    font-size: 14px;
    font-weight: 500;
    color: #9a99a5;
  }

  svg {
    animation: rotateGraph 6s linear infinite;
  }
}

@keyframes rotateGraph {
    0% { transform: rotate(0deg) }
  100% { transform: rotate(359deg) }
}