.transaction {
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #f8f9fa;
  user-select: none;
  cursor: default;

  .transactionInfoWrap {
    display: flex;
    align-items: flex-start;
    align-items: center;
    width: 100%;
  }

  .asset {
    color: #353445;
    line-height: 21px;
    text-align: right;
    font-size: 14px;
    flex: 1 1 auto;
    margin-left: auto;
  }

  .type {
    color: #353445;
    font-weight: 500;
    line-height: 23px;
    text-align: left;
    font-size: 14px;
    margin-left: 10px;
    flex: 0 1 auto;
  }

  .label {
    border-radius: 2px;
    font-size: 9px;
    line-height: 13px;
    color: white;
    padding-left: 4px;
    padding-right: 4px;
    font-weight: 500;
    flex: 0 1 auto;
    min-width: 28px;

    &In {
      background-color: #5ebb46;
    }

    &Out {
      background-color: red;
    }
  }

  .transactionId {
    color: #5ebb46;
    padding: 2px 0 0 0;
    line-height: 18px;
    text-align: left;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: text;
    &:hover {
      background: none;
    }
  }
}
