.tokenBalance {
  @extend %innerPanelColor;
  padding: 10px;
  border-radius: 4px;

  &:not(:last-child) {
    margin-bottom: 12px;
  }

  .token {
    display: flex;
    align-items: center;

    .icon {
      flex: 0 0 auto;
      max-width: 28px;
      max-height: 28px;
      margin-right: 10px;
    }

    .detail {
      flex: 1 1 auto;
      flex-direction: column;
      align-items: stretch;

      .balance {
        line-height: 21px;
        font-size: 14px;
        font-weight: 500;
      }

      .currency {
        display: flex;
        justify-content: space-between;
        color: #8887a5;
        line-height: 21px;
        font-size: 12px;
      }
    }
  }

  .claim {
    margin-top: 4px;
  }
}
