.sectionLabel {
  .label {
    fill: $gray-4;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
  }

  .percent {
    fill: #000;
    font-size: 18px;
    font-weight: 500;
  }
}
