.totalValue {
  text-align: center;
  -webkit-font-smoothing: antialiased;

  .value {
    font-size: 28px;
    color: $primary-text-color;
  }

  .label {
    line-height: 18px;
    font-size: 14px;
    font-weight: 500;
    color: $light-text-color;
  }
}
