.sidebarLink {
  display: block;
  height: 42px;
  line-height: 42px;
  padding: 0 16px;
  color: $light-text-color;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;

  &.active,
  &:hover {
    color: $dark-text-color;
  }

  &.active {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 2px;
      background: linear-gradient(0deg, #b9d532 0%, #5bba47 100%);
    }
  }
}
