.sidebarLink {
  display: block;
  height: 42px;
  line-height: 42px;
  padding: 0 16px;
  color: $gray-4;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;

  &.active,
  &:hover {
    color: $gray-6;

    @include theme(DARK) {
      color: $gray-2;
    }
  }

  &.active {
    position: relative;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 2px;
      background: $brand;
    }
  }
}
