.sendPanel {
  .content {
    padding: 0 24px 32px;
  }

  .inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .amount {
    width: 22vh;
    border-radius: 4px 0 0 4px;
  }

  .asset {
    margin-right: 10px;
    align-self: flex-end;
    height: 36.5px;
    border: 2px solid #dde2ec;
    border-radius: 0 4px 4px 0;

    &::placeholder {
      color: #999;
    }

    &:focus {
      outline: 0;
      color: #495057;
      border-color: #047bf8;
    }
  }

  .recipient {
    flex-grow: 2;
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;

    .icon {
      margin-right: 6px;
    }
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
