.lastBlock {
  -webkit-font-smoothing: antialiased;

  .network {
    display: flex;
    align-items: center;
    margin-bottom: 5px;

    .icon {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin-right: 5px;

      &.connected {
        background-color: $brand-color;
      }

      &.disconnected {
        background-color: #ff6a4a;
      }

      &.connecting {
        background-color: $light-text-color;
      }
    }

    .name {
      color: #fff;
      font-size: 12px;
      font-weight: 500;
    }
  }

  .block {
    display: flex;

    .index,
    .time {
      color: #fff;
      font-size: 11px;
      font-weight: 500;

      .heading {
        color: $light-text-color;
        font-size: 10px;
        // font-weight: 400;
      }

      &:not(:last-child) {
        margin-right: 16px;
      }
    }
  }
}
