.wrapper {
  $disabled-color: $gray-4;

  display: block;

  .label {
    @extend %labelColor;
    display: block;
    height: 17px;
    line-height: 17px;
    margin-bottom: 6px;
    font-size: 14px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
  }

  &.disabled .label {
    @extend %disabledColor;
    background: transparent !important;
  }
}
