* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #f2f4f8;
  font-family: "Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
