.secretView {
  margin-top: 15px;
  margin-bottom: 15px;

  .heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 540px;

    font-weight: 500;
    font-size: 9px;
    line-height: 12px;
    .type {
      color: #494759;
    }

    .toggle {
      color: #8bc83c;
    }
  }

  .secretInput {
    height: 13px;
    background: #f7f8fa;
    border-radius: 2px;
  }
}
