.conversionInput {
  margin: 0 0 16px;

  .inputContainer {
    padding: 1px;
    background: #f9fafb;
    border-radius: 4px;
    box-shadow: inset 0 0 0 1px $light-text-color;
  }

  .assetInput {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 1px solid #e3e4ea;
  }

  .currencyInput {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  input {
    padding-left: 0 !important;
  }

  .icon {
    flex: 0 0 auto;
    width: 36px;
    color: $light-text-color;
    text-align: center;
    font-weight: 600;
    font-size: 16px;

    .tokenIcon {
      width: 20px;
      height: 20px;
      vertical-align: middle;
    }
  }
}

// In order to allow the `:focus` box-shadow highlighting to work, we need to give this CSS
// selector a low precidence.
.assetInput,
.currencyInput {
  box-shadow: none;
}
