.breadCrumbs {
  padding: 0.5rem;
  text-transform: uppercase;
  font-size: 0.6rem;

  ul {
    display: flex;
    margin: 0;
  }

  li:not(:first-child)::before {
    content: '/';
    margin: 0 0.4rem;
    opacity: 0.5;
  }

  border-bottom: $primary-border-style;
}
