.tabs {
  .header {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    margin: 0;
    justify-content: space-evenly;

    .tab {
      display: block;
      cursor: pointer;
      -webkit-font-smoothing: antialiased;
    }

    .label {
      position: relative;
      display: inline-block;
      width: 100%;
      color: $gray-4;
      border-color: #dee2e6 #dee2e6 transparent;
      padding: 8px 12px;
      font-size: 14px;
      font-weight: 500;
      line-height: 17px;
      transition: all 0.2s ease;

      &::after {
        content: '';
        width: 0%;
        height: 2px;
        background: $brand;
        position: absolute;
        bottom: -2px;
        left: 50%;
        transform: translateX(-50%);
        transition: all 0.2s ease;
      }

      &.selected {
        color: $brand;
        font-weight: 600;

        &::after {
          width: 100%;
        }
      }

      &:hover {
        color: $gray-5;
        font-weight: 600;

        @include theme(DARK) {
          color: $gray-2;
        }
      }
    }
  }
}
