.verifyAccount {
  padding: 0 40px;
  min-width: 520px;

  .mnemonicVerify {
    background: #f7f8fa;
    border-radius: 4px;
    color: #494759;
    font-weight: 500;

    .title {
      display: flex;
      font-size: 14px;
      padding: 9px 12px;
      background: linear-gradient(
        360deg,
        #edeef2 0%,
        rgba(237, 238, 242, 0) 75%
      );
    }

    .horizontal {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 15px 12px 0 12px;

      label {
        flex-grow: 2;
      }

      input {
        background-color: white;
      }

      label:first-of-type {
        margin-right: 15px;
      }
    }
  }
}
