.verifyAccount {
  padding: 0 40px;
  min-width: 520px;

  .mnemonicVerify {
    @extend %innerPanelColor;
    border-radius: 4px;
    font-weight: 500;

    .title {
      display: flex;
      font-size: 14px;
      padding: 9px 12px;
    }

    .horizontal {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 15px 12px 0 12px;

      label {
        flex-grow: 2;
      }

      input {
        @extend %inputColor;
      }

      label:first-of-type {
        margin-right: 15px;
      }
    }
  }
}
