.account {
  height: 100%;
  overflow-y: auto;

  .content {
    display: flex;
    margin-top: 24px;
    margin-bottom: 24px;

    .panel {
      flex: 1 1 auto;

      &:not(:last-child) {
        margin-right: 20px;
      }
    }

    @media only screen and (max-width: $responsive-width) {
      flex-wrap: wrap;

      .panel {
        flex-basis: 100%;

        &:not(:last-child) {
          margin-right: 0;
          margin-bottom: 20px;
        }
      }
    }
  }
}

.tabs {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start !important;
  margin: 20px 0 0 20px !important;
  svg {
    font-size: 1px;
  }
}

.tab {
  margin-right: 25px;
  align-self: flex-start;
}
