.ledgerView {
  display: flex;
  flex-direction: column;
  align-items: center; // Center content of flex column

  .text {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;

    color: $brand-dark;

    .done {
      color: $brand-1;
    }
  }

  .label {
    min-width: 100%;
  }

  .labelFetch {
    &:hover {
      text-decoration: underline;
      color: $brand;
      cursor: pointer;
    }
  }

  .labelWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .input {
    // TODO - margin botton 20px in LabeledSelected needed?
    margin-bottom: -10px;
  }

  .labeledInput {
    width: 100%;
    text-align: left;
  }

  .actions {
    flex: 0 0 auto;
    margin: 1.5rem 0 0;

    .action {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
