.alert {
  min-width: 420px;
  max-width: 640px;
  max-height: 540px;
  padding: 20px 40px;

  .title {
    flex: 0 0 auto;
    margin: 0 0 1.5rem;
    color: #047bf8;
    line-height: 1.2;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
  }

  .body {
    flex: 1 1 auto;
    overflow-x: hidden;
    overflow-y: auto;

    p {
      margin-bottom: 10px;
    }
  }

  .actions {
    flex: 0 0 auto;
    margin: 1.5rem 0 0;
    text-align: center;

    .action {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
